# Copy this file to env, fix paths and do `source env` before running ./bin/hubot

export HUBOT_SECRETS_DIR=/path/to/secrets
export HUBOT_LOGS_DIR=/path/to/logs
export HUBOT_CONFIG_DIR=/path/to/config
export HUBOT_DOCKER_ENV_FILE=/path.to/docker-%TARGET_ENV%.env
export HUBOT_DOCKER_IMAGE=comoyo/wb-builder:latest
export HUBOT_AUTH_ADMIN=U12345678,U98765432
