export HUBOT_SECRETS_DIR=/path/to/secrets
export HUBOT_LOGS_DIR=/path/to/logs
export HUBOT_CONFIG_DIR=/path/to/config
export HUBOT_DOCKER_ENV_FILE=/path.to/docker.env
export HUBOT_DOCKER_IMAGE=comoyo/wb-builder:latest
export HUBOT_AUTH_ADMIN=U12345678,U98765432
